/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}
.btn {
    border-radius: 0;
}
.btn-secondary {
    background-color: #C2C1C3;
    border-color: #C2C1C3;
}
.btn-danger {
    background-color: #AD301F;
    border-color: #AD301F;
}
@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}
.form-control {
    border-radius: 0 !important;
}